@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

/*
	Caminar by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/
/* Flexboxs */

.flex-container {
  display: flex;
  background-color: #AE6132;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 26px;
  border-radius: 10px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.date {
  position: relative;
}

.booked {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  color: rgb(158, 29, 29);
  font-weight: bold;
  border-radius: 10px;
}

/* Box Model */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  font: "Chivo", sans-serif;
}

/* Gallery */

.gallery {
  width: 100%;
  margin: 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}

.gallery .image.fit {
  margin: 0;
}

.gallery > * {
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
}

.gallery > * {
  width: 50%;
}

@media screen and (max-width: 980px) {
  .gallery > * {
    width: 100%;
  }
}

/* Image */

.image {
  display: inline-block;
  position: relative;
}

.image.flush {
  margin: 0 !important;
}

.image img {
  display: block;
}

.image.left,
.image.right {
  max-width: 50%;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  margin: 0 1rem 1rem 0;
  top: 0.25rem;
}

.image.right {
  float: right;
  margin: 0 0 1rem 1rem;
  top: 0.25rem;
}

.image.fit {
  display: block;
  margin: 0 0 2rem 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;

  width: 100%;
}

.image.main img {
  width: 100%;
}

.image.fit li {
  color: #fff;
  font-family: "Chivo", sans-serif;
}
.image.fit p {
  color: #fff;
  font-family: "Chivo", sans-serif;
}

/*Spotlight */

.spotlight {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.spotlight > * {
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
}

.spotlight > * {
  width: 50%;
}

.spotlight p:last-child {
  margin: 0;
}

.spotlight .inner {
  padding: 6rem;
}

.spotlight .image {
  margin: 0;
}

.spotlight .image img {
  width: 100%;
}

.spotlight.alt {
  background: #1e1f23;
  color: rgba(255, 255, 255, 0.25);
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: right;
}

.spotlight.alt > * {
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
}

.spotlight.alt h3 {
  color: #fff;
  font-family: "Chivo", sans-serif;
}

.spotlight.alt .image {
  -moz-order: 2;
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
}

@media screen and (max-width: 1280px) {
  .spotlight .inner {
    padding: 4rem;
  }
}

@media screen and (max-width: 980px) {
  .spotlight {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
  }

  .spotlight > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
  }

  .spotlight > * {
    width: 100%;
  }

  .spotlight.alt {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
  }

  .spotlight.alt > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
  }

  .spotlight.alt .image {
    -moz-order: 0;
    -webkit-order: 0;
    -ms-order: 0;
    order: 0;
  }
}

@media screen and (max-width: 736px) {
  .spotlight .inner {
    padding: 2rem;
  }
}

/* Header */

body {
  background-color: #1e1f23;
  padding-top: 8rem;
  font-family: "Chivo", sans-serif;
}

body.is-loading:after {
  visibility: hidden;
  opacity: 0;
}

body:after {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  -moz-transition: opacity 1.5s ease-in-out, visibility 1.5s;
  -webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
  -ms-transition: opacity 1.5s ease-in-out, visibility 1.5s;
  transition: opacity 1.5s ease-in-out, visibility 1.5s;
  content: "";
  background-image: url(images/nu01.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 980px) {
  body:after {
    background-attachment: scroll;
    background-position: top;
    background-size: 100%;
  }
}

#header {
  color: #a6a6a6;
  cursor: default;
  position: relative;
  text-align: center;
  z-index: 10001;
}

#header > .logo {
  margin: 0 0 4rem 0;
  padding: 0;
}

#header > .logo a {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  line-height: 1rem;
  font: "Chivo", sans-serif;
}

#header > .logo span {
  font-weight: 300;
  font-size: 1rem;
  display: block;
  color: rgba(255, 255, 255, 0.65);
}


.my-btn:hover {
background: grey;
}

.my-btn {
  margin-left: 20px;
  background: black;
  border-radius: 100px;
  padding: 15px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  font-family: "Chivo", sans-serif;
  font-size: 10px;
  width: 100px;
  font-size: 12px;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  filter: drop-shadow(0 0 0.5rem rgb(8, 8, 8));
  margin-top: 10px;
}

.links {
  display: flex;
  justify-content: center;
}

.link {
  margin: 10px 30px;
  color: #f5eff0;
  font-family: "Chivo", sans-serif;
}

.link:hover {
  color: #458d2e;
}

@media screen and (max-width: 1280px) {
  body {
    padding-top: 6rem;
    background-attachment: scroll;
    background-size: auto;
    background-position: top;
  }
}

@media screen and (max-width: 736px) {
  #header > .logo {
    margin: 0 0 2rem 0;
  }

  #header > .logo a {
    font-size: 3rem;
  }
}

/* Main */

#main > .inner {
  margin: 0 auto;
  width: 80rem;
  max-width: 90%;
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.btn-corona {
  color: red;
  background-color: #f1efdc;
  border-color: red;
  font-family: "Chivo", sans-serif;
}

@media screen and (max-width: 980px) {
  #main .image {
    width: 100%;
    min-width: 100%;
    float: none;
    margin: 0 0 2rem 0;
  }

  #main .image img {
    width: 100%;
  }
}

.wrapper > header {
  text-align: center;
  background: #fff;
  padding: 2rem;
  margin: 0;
}

.wrapper > header h2 {
  position: relative;
  padding-bottom: 0.75rem;
}

.wrapper > header h2:after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.125);
}

.wrapper > header p {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.25rem;
  margin: 0;
  font: "Chivo", sans-serif;
}

.wrapper > header.special {
  padding: 4rem 2rem;
}

@media screen and (max-width: 980px) {
  .wrapper > header.special {
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 736px) {
  .wrapper > header {
    padding: 1.5rem;
  }

  .wrapper > header h2 {
    font-size: 1.5rem;
  }

  .wrapper > header h2:after {
    width: 50%;
  }
}

.wrapper.style1 .content {
  padding: 6rem;
  font: "Chivo", sans-serif;
}

@media screen and (max-width: 1280px) {
  .wrapper.style1 .content {
    padding: 4rem;
    font: "Chivo", sans-serif;
  }
}

@media screen and (max-width: 736px) {
  .wrapper.style1 .content {
    padding: 2rem;
    font: "Chivo", sans-serif;
  }
}

.wrapper.style2 {
  background: #1e1f23;
  padding: 6rem;
}

.wrapper.style2 header {
  background: #121315;
  border-radius: 4px 4px 0 0;
}

.wrapper.style2 header h2 {
  color: #fff;
}

.wrapper.style2 header h2:after {
  background-color: rgba(255, 255, 255, 0.125);
}

.wrapper.style2 header p {
  color: rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 1280px) {
  .wrapper.style2 {
    padding: 4rem;
  }
}

@media screen and (max-width: 736px) {
  .wrapper.style2 {
    padding: 2rem;
  }
}

/* Footer */
.footer {
  
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #d23333;
}

.list-bag {
  color: #fff;
  padding-left: 20px;
  padding-top: 20px;
}


/*SLIDESHOW*/

.slide {
  height: 400px;
object-fit: cover;
}

*{box-sizing: border-box }

.slideshow {
  height: 400px;
}

.slideshow ul{

padding-bottom: 37.67%;/* ratio pour le responsive */
list-style-type: none;
position: relative
	
	}
    
    
.slideshow li{

top: 0;
left: 0;
right: 0;
animation: slideshow 25s ease infinite;
position: absolute;
opacity: 0;


}

    

.slideshow li:nth-child(2){

animation-delay: 5s

}

.slideshow li:nth-child(3){

animation-delay: 10s

}

.slideshow li:nth-child(4){

animation-delay: 15s

}

.slideshow li:nth-child(5){

animation-delay: 20s

}

    
@keyframes slideshow{
	
0%{opacity: 0}

10%{opacity: 1}

20%{opacity: 1}

25%{opacity: 0}

100%{opacity: 0}
	
	} 

    
/*****barre progression *****/
.barre_progression{ 
	
position: absolute;
left: 0;
bottom: 40px;
height: 5px;
background: white;
animation: barre_progression 25s ease-out infinite;
	
}
    
/*****animation barre progression *****/    
@keyframes barre_progression{
	
0%,20%,40%,60%,80%,100%{width: 0%;opacity: 0}
	
4%,24%,44%,64%,84%{width: 0%;opacity: .3}
	
16%,36%,56%,76%,96%{width: 100%;opacity: .7}
	
17%,37%,57%,77%,97%{width: 100%;opacity: .3}
	
18%,38%,58%,78%,98%{width: 100%;opacity: 0}
	
  }
  